# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
/build/
/coverage/
**/doc/api/
pubspec.lock

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# macOS
.DS_Store

# Melos
.melos_tool/
